@charset "UTF-8";
*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body, html{
  height: 100%;
}
body{
  padding:0 10px;
  margin: 0px;
  display: grid;
  grid-template-columns: auto minmax(200px ,1000px) auto;
  grid-template-rows:100px 100px auto auto;
  grid-template-areas: 
  ". header."
  ". nav ."
  ". main ."
  ". footer .";
  background-color: #f1f6f9;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  grid-area: header;
  background-color: #f1f6f9;
}
header a{
  text-decoration: none;
  color:  #14274e;
  font-family: 'Libre Baskerville', serif;

}
header h1{
  margin-left: 30px;
}

#globalNav input, #globalNav label{
  display: none;
}
#globalNav label {
 position: relative;
 height: 24px;
 width: 24px;
}
/*style the menuIcon*/
#globalNav label i {
  font-size: 1.4rem;
  position: absolute;
  left: 10px;
  color: white;
}
nav ul{
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
}
nav ul li a{
  text-decoration: none;
  color: white;
  display: inline-block;
}
nav a:link,
nav a:visited {
  box-shadow: 6px 6px 10px black;
  transition: all 0.4s ease-in-out;
}
nav a:hover,
nav a:active {
  background-color: black;
  color: white;
  box-shadow: 1px 1px 10px black;
  transform: translate(5px, 5px);
}
.selected{
  background-color: white;
  color: black;
}
#globalNav{
  grid-area: nav;
  background-color: #14274e;
}
#globalNav > ul{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#globalNav ul li a{
  padding: 10px;
}
#availableNav ul{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #14274e;
}
#availableNav ul li a{
  display: block;
  padding: 10px;
}
main{
  grid-area: main;
  background-color: #f1f6f9;
  padding: 10px;
}
/*styling main in start*/
#mainStart{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "about aktuellt";
  gap: 10px;
  padding: 10px;
}
#mainStart aside{
  grid-area: aktuellt;
}
#mainAvailable{
  display: grid;
  grid-template-columns:0.5fr 2fr;
  gap: 10px;
}
.aktuellt{
  padding: 10px;
  border: 1px solid black;
  margin-top: 10px;
  background-color: white;
  color:  #14274e;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.aktuellt a{
  color:  #14274e;
  text-decoration: black;
  font-size: 1.2rem;
}
.aktuellt a:hover, .aktuellt a:active, footer ul a:hover, footer ul a:active{
  text-decoration: underline;
}
#about{
  grid-area: about;
}
#apratmentGroup{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
gap: 15px;
}
.emptyApartment{
  background-color: white;
  padding: 20px;
  width: max-content;
  border-radius: 10px;
}
img{
  max-width: 100%;
}
figure{
text-align: center;
margin: 5px;
}
/*form */
#problem, #interest{
  padding: 20px;
}
#problem fieldset div, #interest fieldset div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 0.6rem;
}
.send{
  margin-top: 10px;
  text-align: right;
}
.send input{
  padding: 10px;
  border-radius: 10px;
  background-color:rgb(129, 207, 129) ;
  font-size: 1.1rem;
  cursor: pointer;
}
footer{
  grid-area: footer;
  background-color: #394867;
  color: #f1f6f9;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
footer a{
  color: #f1f6f9;
  text-decoration: none;
}
footer ul{
  list-style: none;
}
footer ul li{
  padding: 7px;
}
#contactFooter{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (max-width:510px){
  #mainStart{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "aktuellt"
    "about";
  }
  #mainAvailable{
    grid-template-columns:1fr;
  }
  #availableNav ul{
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

  }
  #availableNav ul li a{
    display: inline-block;
    padding: 10px;
  }
  #problem fieldset div, #interest fieldset div{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 0.6rem;
  }
  #personalInformation div input, #contact div input{
    max-width: 40ch;
  }
  body{
      padding:0 10px;
      margin: 0px;
      display: grid;
      grid-template-columns: auto ;
      grid-template-rows:min-content 100px auto auto;
      grid-template-areas: 
      " nav "
      "header"
      " main "
      "footer ";
    }
    #globalNav label{
      display: inline-block;
    }
    #globalNav > ul{
     display: none;
     }
     #globalNav input:checked ~ ul {
      display: block;
     }
    nav ul li {
     text-align: center;
    }
    nav ul li a{
      display: block;

    }
    nav a:link,nav a:visited {
    box-shadow: 0 0 0 0;
     }
    nav a:hover, nav a:active {
    box-shadow:0px 0px 0px;
    transform: translate(0,0);
  }
}
@media screen and (max-width:375px){
  main{
   padding: 0px; 
  }
  /*adjust the nav to prevent horizontal scroll*/
  #availableNav ul{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  #availableNav ul li a{
   display: block;
  }
  footer ul {
    padding: 0;
  }
}