@charset "UTF-8";
*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body, html{
  height: 100%;
}
body{
  padding:0 10px;
  margin: 0px;
  display: grid;
  grid-template-columns: auto minmax(200px ,1000px) auto;
  grid-template-rows:100px 100px auto auto;
  grid-template-areas: 
  ". header."
  ". nav ."
  ". main ."
  ". footer .";
}
header{
  grid-area: header;
  background-color: rgb(248, 231, 133);/*todo change color*/
}
header a{
  text-decoration: none;
  color: black;
}
header h1{
  margin-left: 30px;
}
nav ul{
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
}
nav ul li a{
  text-decoration: none;
  color: white;
  display: inline-block;
}
nav a:link,
nav a:visited {
  box-shadow: 6px 6px 10px black;
}
nav a:hover,
nav a:active {
  background-color: black;
  color: burlywood;/*todo change the color*/
  box-shadow: 1px 1px 10px black;
  transform: translate(5px, 5px);
}
.selected{
  background-color: white;
  color: black;
}
#globalNav{
  grid-area: nav;
  background-color: rebeccapurple;/*todo change the color*/
}
#globalNav > ul{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#globalNav ul li a{
  padding: 10px;
}
#contactLink{
 position: relative;
}
#contactList{
  position: absolute;
  z-index: 20;
  display: none;
  padding: 10px;
  background-color: cornflowerblue; /*todo change the color*/
}
#contactList li a{
  display: block;
}
#contactLink:hover > ul{
  display: flex;
  flex-direction: column;
}
#availableNav ul{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#availableNav ul li a{
  display: block;
  padding: 10px;
}
main{
  grid-area: main;
  background-color: salmon;/*todo change the color*/
  padding: 10px;
}
/*styling main in start*/
#mainStart{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "about aktuellt";
  gap: 10px;
  padding: 10px;
}
#mainStart aside{
  grid-area: aktuellt;
}
#mainAvailable{
  padding: 10px;
  display: grid;
  grid-template-columns:0.5fr 2fr;
  gap: 10px;
}
.aktuellt{
  padding: 10px;
  border: 1px solid black;
  margin-top: 10px;
}
#about{
  grid-area: about;
}
#apratmentGroup{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
gap: 15px;
}
.emptyApartment{
  background-color: white;
  padding: 20px;
  width: max-content;
  border-radius: 10px;
}
img{
  max-width: 100%;
}
figure{
text-align: center;
margin: 5px;
}
/*form */
#problem, #interest{
  padding: 20px;
}
#problem fieldset div, #interest fieldset div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 0.6rem;
}
.send{
  margin-top: 10px;
  text-align: right;
}
.send input{
  padding: 10px;
  border-radius: 10px;
  background-color:rgb(93, 192, 93) ;
  font-size: 1.1rem;
}
footer{
  grid-area: footer;
  background-color: seagreen;/*todo change the color*/
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
footer a{
  color: black;
  text-decoration: none;
}
footer ul{
  list-style: none;
}
footer ul li{
  padding: 7px;
}
#contactFooter{
  display: flex;
  flex-direction: column;
  gap: 7px;
}